[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/NvChad/starter
[submodule ".config/zsh/completions/manai"]
	path = .config/zsh/completions/manai
	url = git@github.com:mecab/manai.git
