layout {
    tab name="Art" hide_floating_panes=true {
    pane name="Forge"
    floating_panes { // will start hidden
        pane name="Lama" width="33%" height="50%" x=0 y=0
        pane name="Ofelia" width="33%" height="100%" x="33%" y=0
        pane name="Index" width="33%" height="50%" x="100%" y=0
    }
    }
    tab name="Chat" hide_floating_panes=true split_direction="vertical" {
    pane name="Textui" 
    pane name="SillyTavern"
    floating_panes { // will start hidden
        pane name="SillyTavern Extras" width="100%" height="50%" x=0 y="60%"
    }
    }
    tab name="Arch" {
    pane
    }
    tab name="Ubuntu" {
    pane
    }
    tab name="Windows" {
    pane
    }

    default_tab_template {
    children
        pane size=1 borderless=true {
                plugin location="file:/home/antivash/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "#[fg=#008ec4,bg=transparent,bold]{mode}#[fg=#ffffff,bg=#008ec4,bold]Tabs #[fg=#008ec4,bg=transparent]▓▒░{tabs}"
                format_right "#[fg=#008ec4,bg=transparent]░▒▓{datetime}#[fg=#008ec4,bg=transparent]▓▒░"
                format_space "#[bg=transparent]"

                hide_frame_for_single_pane "true"

                mode_normal  "#[fg=#008ec4,bg=transparent]░▒▓#[bg=#008ec4,fg=#FFFFFF]"
                mode_pane  "#[fg=#008ec4,bg=transparent]░▒▓#[fg=#ffffff,bg=#008ec4,bold,italic] Pane 󱓊 "
                mode_tab  "#[fg=#008ec4,bg=transparent]░▒▓#[fg=#ffffff,bg=#008ec4,bold,italic] Tab  "
                mode_resize  "#[fg=#008ec4,bg=transparent]░▒▓#[fg=#ffffff,bg=#008ec4,bold,italic] Resize Pane   "
                mode_renametab  "#[fg=#008ec4,bg=transparent]░▒▓#[fg=#ffffff,bg=#008ec4,bold,italic] Rename Tab   "
                mode_rename  "#[fg=#008ec4,bg=transparent]░▒▓#[fg=#ffffff,bg=#008ec4,bold,italic] Rename Pane  󱐪 "
                mode_session  "#[fg=#008ec4,bg=transparent]░▒▓#[fg=#ffffff,bg=#008ec4,bold,italic] Rename Tab  󱇝 "

                tab_normal              "#[bg=transparent,fg=#4C4C59]░▒▓#[fg=#000000,bg=#4C4C59] {index}  {name} #[fg=#4C4C59,bg=transparent]▓▒░"
                tab_normal_fullscreen   "#[fg=#000000,bg=#4C4C59] {index} {name} [] "
                tab_normal_sync         "#[fg=#000000,bg=#4C4C59] {index} {name} <> "
                tab_active              "#[fg=#008ec4,bg=transparent]░▒▓#[fg=#ffffff,bg=#008ec4,bold,italic] {index}  {name} #[fg=#008ec4,bg=transparent]▓▒░"
                tab_active_fullscreen   "#[fg=#9399B2,bg=transparent,bold,italic] {index} {name} [] "
                tab_active_sync         "#[fg=#9399B2,bg=transparent,bold,italic] {index} {name} <> "


                datetime          "#[fg=#ffffff,bg=#008ec4,bold] {format} "
                datetime_format   "%A, %d %b %Y %H:%M"
                datetime_timezone "America/Chicago"
        }
    }
}
}
